<div class="col-lg-7 mx-auto">
  <div id="carImageSlide" class="carousel slide" data-bs-ride="carousel">
    <div
      class="carousel-inner d-flex"
      style="height: 50vh; min-height: 20rem; max-height: 30rem"
    >
      <div
        *ngFor="let image of carImages; index as i; first as firstImage"
        class="carousel-item align-self-center"
        [ngClass]="{ active: firstImage }"
        style="height: 100%; width: 100%"
      >
        <img
          [src]="imageUrl + image.imagePath"
          class=""
          style="height: 100%; width: 100%; object-fit: contain"
          [alt]="imageUrl + image.imagePath"
        />
      </div>

      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carImageSlide"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carImageSlide"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <table class="table table-striped mt-2" >
      <tbody>
        <tr>
          <th scope="row">Marka</th>
          <td>{{ cars.brandName }}</td>
        </tr>
        <tr>
          <th scope="row">Renk</th>
          <td>{{ cars.colorName }}</td>
        </tr>
        <tr>
          <th scope="row">Fiyat</th>
          <td>{{ cars.dailyPrice }}/Gunluk</td>
        </tr >
        <tr>
          <th scope="row">Model Yılı</th>
          <td>
            {{ cars.modelYear }}
          </td>
        </tr>
        <tr>
          <th scope="row">Aciklama</th>
          <td>{{ cars.carName }}</td>
        </tr>
        <tr>
          <th scope="row">Gerekli findeks puanı</th>
          <td>{{ cars.findeksFloor }}</td>
        </tr>

      </tbody>
    </table>
  </div>
  <!-- <div class="row">
     <app-rental [car] = "cars"></app-rental>
  </div> -->

  <div class="d-grid gap-2 mb-2">
    <div *ngIf = "cars.status == true && checkToLogin()==true && getFindeksResult() == true" class="dd-grid gap-2 mb-2">
      <div style="margin: auto;">
        <app-rental [car] = "cars"></app-rental>
      </div>
    </div>
  </div>
  <div class="dd-grid gap-2 mb-2" *ngIf = "checkToLogin()==false && cars.status == true">
    <div class="alert alert-danger">Aracı kiralamak için giriş yapmalısınız. &nbsp;&nbsp;  &nbsp;&nbsp;   <button routerLink="/login/" type="button"  class="btn btn-primary" style="margin-right: 10px;">Giriş yapın</button> </div>
  </div>
  <div class="dd-grid gap-2 mb-2" *ngIf = "cars.status == false">
    <div class="alert alert-danger">Araç şu an kiralanamaz.</div>
  </div>
  <div class="dd-grid gap-2 mb-2" *ngIf = "checkToLogin()==true && cars.status == true && getFindeksResult() == false">
    <div class="alert alert-danger">Aracı kiralamak için findeks puanınız yeterli değil. (Puanınız {{this.random}} ) </div>
  </div>
</div>
